# Python virtual environment
.venv/
venv/
ENV/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Environment variables
.env
.env.local

# Database files
*.db
*.sqlite
*.sqlite3

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

# Streamlit specific
.streamlit/secrets.toml

# Jupyter Notebook
.ipynb_checkpoints

# Log files
*.log

# Data files (uncomment if needed)
# data/*.csv
# data/*.json

.macos/*
streamlit-app/metrics
metrics
